<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture - KIT SERVICE</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


</head>
<body>

<div class="p-24 text-sm font-sans text-gray-800">
    <!-- Header -->
    <div class="flex justify-between border-b pb-4 mb-4">
        <!-- KIT SERVICE Infos -->
        <div class="w-1/3 space-y-1">
            <h2 class="text-orange-500 font-bold text-lg">KIT SERVICE SARL</h2>
            <p>1627 B Avenue Kamina, Q/ Mutoshi Kolwezi</p>
            <p>LUALABA RDC</p>
            <p>00243 977 333 977</p>
            <p><a href="mailto:kitservice17@gmail.com" class="text-blue-600 underline">kitservice17@gmail.com</a></p>
            <p><a href="http://www.kitservice.net" class="text-blue-600 underline">www.kitservice.net</a></p>
            <p>ID NAT: 05-H5300-N876458R</p>
            <p>RCCM: CD/LSH/RCCM/20-B-00584</p>
        </div>

        <!-- Client Infos -->
        <div class="w-1/3  space-y-1">
            <h2 class="text-gray-700 font-semibold">To : KAMOA COPPER SA</h2>
            <p>Appartements 3 et 4, Bâtiment 2404, 999, RN 39</p>
            <p>Avenue Route Likasi, Quartier Joli-Site</p>
            <p>Commune de Manika, Ville de Kolwezi</p>
            <p>Province du Lualaba, RDC</p>
            <p>ID NAT : 05-B0500-N37233J</p>
            <p>RCCM : 14-B-1683</p>
            <p>NIF : A0901048A</p>
        </div>

        <!-- Logo -->
        <div class="w-1/3 text-right">
            <img src="{{ asset('images/logo.png') }}" alt="Kit Service Logo" class="h-20 inline-block">
            <h3 class="text-xl font-bold text-gray-800 mt-2">INVOICE</h3>
            <p class="text-xs">No. 12/05/2025AA009</p>
            <p class="text-xs">Date: 5/12/2025</p>
            <p class="text-xs">Order No: PO 5950 OS</p>
        </div>
    </div>
    <div>
        <h2 class="text-gray-700 font-semibold">Client</h2>
        <h2 class="text-gray-700 font-semibold"><i>KAMOA COPPER SA</i></h2>
        <p><i>Kolwezi - Lualaba</i></p>
    </div>

    <br>

    <!-- Table -->
    <table class="w-full border text-xs mb-4">
        <thead class="bg-gray-100 text-left">
        <tr class="border">
            <th class="border px-2 py-1">N°</th>
            <th class="border px-2 py-1">DESCRIPTION</th>
            <th class="border px-2 py-1 text-center">Unité</th>
            <th class="border px-2 py-1 text-center">Quantity</th>
            <th class="border px-2 py-1 text-right">PU</th>
            <th class="border px-2 py-1 text-right">PT/Mois</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border">
            <td class="border px-2 py-1">1</td>
            <td class="border px-2 py-1">Provide, Support Service February Daily Cleaning Bus</td>
            <td class="border px-2 py-1 text-center">1</td>
            <td class="border px-2 py-1 text-center">1</td>
            <td class="border px-2 py-1 text-right">$ 888.00</td>
            <td class="border px-2 py-1 text-right">$ 888.00</td>
        </tr>
        </tbody>
    </table>

    <!-- Totaux -->
    <div class="w-full flex justify-end">
        <table class="text-sm w-1/2">
            <tr>
                <td class="text-right pr-4 py-1">SOUS-TOTAL :</td>
                <td class="text-right font-semibold">$ 888.00</td>
            </tr>
            <tr>
                <td class="text-right pr-4 py-1">TVA 18% :</td>
                <td class="text-right font-semibold">$ 160.00</td>
            </tr>
            <tr>
                <td class="text-right pr-4 py-1 border-t font-bold">TOTAL TTC :</td>
                <td class="text-right font-bold border-t">$ 1,048.00</td>
            </tr>
        </table>
    </div>

    <!-- Infos bancaires -->
    <div class="mt-6 text-sm">
        <p class="font-semibold underline">Bank details</p>
        <p>Nom de la banque : RAWBANK</p>
        <p>N° compte : 05100 - 05139 - 00703347001-87</p>
        <p>Intitulé du compte : KIT SERVICE SARL</p>
        <p>Swift code : RAWBCDRC</p>
    </div>
</div>












</body>
</html>
